<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015047499236-pirjkd7o9nptsf9bndl75fq24attvi9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015047499236-pirjkd7o9nptsf9bndl75fq24attvi9r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1015047499236-9k4tjqvsjakjdjmfihi1nrfgpqmg6f9u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEYte3SKYCcFp0XRweljWmvkpRPNHb_9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1015047499236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pelicantravel.keyoro</string>
	<key>PROJECT_ID</key>
	<string>pelipecky-eef8d</string>
	<key>STORAGE_BUCKET</key>
	<string>pelipecky-eef8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015047499236:ios:04638e8007caf52e3e6bf1</string>
	<key>DATABASE_URL</key>
	<string>https://pelipecky-eef8d.firebaseio.com</string>
</dict>
</plist>